<div class="flex flex-row items-center justify-between bg-white px-6 py-4 bg-opacity-95 fixed w-full shadow-sm">
  <div class="flex flex-row items-center gap-4">
    <button (click)="toggle()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </button>
    <h1 class="text-slate-900 font-bold text-xl">Ng <span class="text-indigo-500">Taildash</span>.</h1>
  </div>
</div>